---
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AllowShortBlocksOnASingleLine: Always
AlwaysBreakTemplateDeclarations: 'Yes'
BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
InsertNewlineAtEOF: true
SpaceBeforeParens: ControlStatementsExceptControlMacros
